body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.row {
  display: flex;
}

.column1 {
  flex: 20%;
}

.column2 {
  flex: 80%;
}

aside {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 20%;
}

aside h1,
aside h2 {
  margin-top: 0;
}

main {
  width: 60%;
  padding: 20px;
}

header,
section {
  margin-bottom: 40px;
  background-color: blueviolet;
  color: #fff;
}

.project img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

form label,
form textarea,
form input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.dropdown-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
