body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #708090;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.row {
  display: flex;
}

.column1 {
  background-color: #708090;
  color: #fff;
  position: fixed;
  flex: 20%;
  height: 100%;
}

.column2 {
  background-color: #778899;
  position: relative;
  flex: 80%;
  height: 100%;
}

.name_title {
  width: 100%;
}

.education_level {
  width: 100%;
}

.contact_info {
  width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #708090;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #778899;
  color: #fff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2f4f4f;
  color: white;
}
